{% include 'admin_header.html' %}
{% load static %}
    <!-- ========== BODY SECTION ========== -->
    <main>
        <div class="content-container">
{#            <!-- PNG Image Section -->#}
{#            <div class="image-section">#}
{#                <img src="{% static 'bg1.png' %}" alt="Drowsiness Detection" class="main-image">#}
{#            </div>#}

            <!-- Main Content Container -->
            <section class="hero-section sketch-border">
                <h1>Missing Child Identification System</h1>
                <p>
                     Current missing child cases rely heavily on manual reporting and physical searches.
            Information is typically shared through police complaint submissions, phone calls,
            posters, or social media posts. Verification and tracking of sightings are done manually,
            which is time-consuming and often unreliable. Lack of automation and absence of
            face recognition makes it challenging to quickly locate and identify missing children.
                </p>
            </section>
        </div>
    </main>

   {% include 'footer.html' %}